<!doctype html>
<html>
    <%- include('../partials/head') %>
    <body>
        <div class="container">
            <%- include('../partials/flash') %>
            <div class="col-md-12">
                <h1>Conference Details</h1>
                <h3><%= conference.name %></h3>
                <h4><%= new Date(conference.startDate).toLocaleString() %> -  <%= new Date(conference.endDate).toLocaleString() %></h4>
                <br>
                <br>
                <h2>Tracks</h2>
            </div>
        </div>
        <%- include('../partials/scripts') %>
    </body>
</html>