<!doctype html>
<html>
    <%- include('../partials/head') %>
    <body>

        <div class="container" style="height: 100vh;">
            <%- include('../partials/flash') %>
                <div class="col-md-12">
                <form>
                    <h2>Edit Conference</h2>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10 col-md-6">
                            <input type="name" class="form-control" id="name" name="name" placeholder="Name" value="<%=conference.name%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                        <div class="col-sm-10 col-md-6">
                            <input type="date" class="form-control" id="startDate" name="startDate" value="<%=conference.startDate%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="endDate" class="col-sm-2 control-label">End Date</label>
                        <div class="col-sm-10 col-md-6">
                            <input type="date" class="form-control" id="endDate" name="endDate" value="<%=conference.endDate%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
                <% if(privilege == "admin") { %>
                    <table id="userTable" class="table table-striped table-bordered"></table>
                <% } %>
                
                <h2>Tracks</h2>
                
                <div class="col-md-5">
                    <input type="text" id="newTrackName" class="form-control">
                </div>
                <button type="button" id="createTrack" class="btn btn-success">Create New Track</button>    
                <br><br>
                <table id="trackTable" class="table table-striped table-bordered"></table>
            </div>
        </div>
        <%- include('../partials/scripts') %>
        <script>
           var tpcChairId = "<%=conference.tpcChairId %>";
           var isAdmin    = <%= privilege  == "admin" ? true : false%>;
            //save edited conference data
            $("form").submit(function(e){
                e.preventDefault();
                var data = $("form").serializeArray();
                console.log(data);
                $.ajax({
                    method:"POST",
                    url: isAdmin ? "/admin/conferences/"+"<%=conference.id%>"+"/edit" : "/conferences/"+"<%=conference.id%>"+"/edit",
                    data: data
                }).then(function(response){
                    document.location.href = response.target;
                })
                
            });
            
            //
            if (isAdmin) {
                var userTable = $('#userTable').dataTable({
                  "bProcessing" : true,
                  "bServerSide" : true,
                  "ajax" : { url: '/datatables/users' },
    		      "columns" : [
        		    { data : "_id",
        		      title: "User ID",
        		      render: function(data, type, row, meta) {
        		          return "<a href=/admin/users/" + data + "/edit>" + data + "</a>";
        		      }  
        		    },
        		    { data : "email",
        		      title: "Email"},
        		    { data : "firstname",
        		      title: "First Name"},
        		    { data : "lastname",
        		      title: "Last Name"},
        		    {
        		      title: "Assign TPC Chair",
        		      render: function (data, type, row, meta) {
        		          return tpcChairId == row._id ? "TPC Chair":"<button type='button' class='btn btn-success tpcassign' id="+row._id+">Assign</button>";
        		      }
        		    }
    		      ]
                });
            }
            
            //
            var trackTable = $('#trackTable').dataTable({
              "bProcessing" : true,
              "bServerSide" : true,
              "ajax" : { 
                  url: '/datatables/tracks', 
                  data: {
                      "cid": "<%=conference.id%>"
                  }
              },
		      "columns" : [
    		    { data : "_id",
    		      title: "Track ID",
    		      render: function(data, type, row, meta) {
    		          return isAdmin ? "<a href=/admin/conferences/<%= conference.id %>/tracks/" + data + "/edit>" + data + "</a>" : "<a href=/conferences/<%= conference.id %>/tracks/" + data + "/edit>" + data + "</a>";
    		      }  
    		    },
    		    { data : "name",
    		      title: "Name"},
    		    { data : "cid",
    		      title: "Conference ID"
    		    }
		      ]
            });
        
            trackTable.DataTable().draw();
        </script>
        <script>
            //add button listeners
            $(document).ready(function(){
                //listener on assign buttons
               $(document).on('click', '.tpcassign', function(e) {
                   var tpcChairID = $(e.target).attr("id");
                   $.ajax({
                       method: "POST",
                       url:    "/admin/conferences/"+"<%=conference.id %>"+"/assigntpc/"+ tpcChairID,
                       success: function(response) {
                           if(response.status === "ok") {
                               alert("You assigned a TPC chair");
                               tpcChairId = response.tpcChairId;
                               userTable.api().ajax.reload();
                           }
                       }
                   })
               });
              
            //listener on create track button
            $("#createTrack").click(function(e) {
                   var newTrackName = $("#newTrackName").val();
                   $.ajax({
                       url: isAdmin ? "/admin/conferences/<%=conference.id%>/tracks" : "/conferences/<%=conference.id%>/tracks",
                       method: "POST",
                       data: {name: newTrackName},
                       success: function (response) {
                           alert(response.status);
                           trackTable.api().ajax.reload();
                       }
                   });
               });
            });
        </script>
    </body>
</html>