<!doctype html>
<html>
    <head>
       <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <h2>Track details</h2>
                <h4><%=track.name %></h4> <%= privilege %> <% if(privilege.toLowerCase() !== "ordinary") { %><a href="/conferences/<%=track.cid%>/tracks/<%=track.id%>/edit">Edit</a><% } %>
            </div>
        </div>
        <%- include('../partials/scripts') %>
    </body>
</html>